@import "tailwindcss";
@import "./typography.css";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root,
html[data-theme="light"] {
  --background: #fdfdfd;
  --foreground: #282728;
  --accent: #0aaf0a;
  --muted: #e6e6e6;
  --border: #ece9e9;
}

html[data-theme="dark"] {
  --background: #181818;
  --foreground: #eaedf3;
  --accent: #0aaf0a;
  --muted: #343f60;
  --border: #d1cecb7c;
}

@theme inline {
  --font-app: var(--font-google-sans-code);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-muted: var(--muted);
  --color-border: var(--border);
}

@layer base {
  * {
    @apply border-border outline-accent/75;
    scrollbar-width: auto;
    scrollbar-color: var(--color-muted) transparent;
  }
  html {
    @apply overflow-y-scroll scroll-smooth;
  }
  body {
    @apply flex min-h-svh flex-col bg-background font-app text-foreground selection:bg-accent/75 selection:text-background;
    --x: calc(var(--posX, 0) * 1px);
    --y: calc(var(--posY, 0) * 1px);
    background-image:
      radial-gradient(
        at calc(80% - var(--x)) calc(0% - var(--y)),
        rgba(7, 113, 46, 0.04),
        transparent 50%
      ),
      radial-gradient(
        at calc(50% + var(--x)) calc(0% + var(--y)),
        rgba(255, 255, 255, 0.02),
        transparent 40%
      ),
      radial-gradient(
        at calc(20% + var(--x)) calc(100% - var(--y)),
        rgba(4, 86, 35, 0.03),
        transparent 60%
      ),
      linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, transparent 100%);
    background-blend-mode: screen, soft-light, screen, normal;
  }
  a,
  button {
    @apply outline-offset-1 outline-accent focus-visible:no-underline focus-visible:outline-2 focus-visible:outline-dashed;
  }
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

@utility max-w-app {
  @apply max-w-4xl xl:max-w-5xl;
}

@utility app-layout {
  @apply mx-auto mt-16 w-full max-w-app px-4;
}

.active-nav {
  @apply underline decoration-wavy decoration-2 underline-offset-8;
}

/* Source: https://piccalil.li/blog/a-more-modern-css-reset/ */
/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 1rem;
}
